## Challenge 3: create direction layer to draw the route to four cities

In [1]:
import pandas as pd
import requests
import gmaps

from config import g_key

In [2]:
gmaps.__version__

'0.9.0'

In [3]:
gmaps.configure(api_key = g_key)

In [4]:
vacation_df = pd.read_csv("data/WeatherPy_Vacation.csv")

In [5]:
vacation_df.head()

   City_ID     City Country  Max Temp    Lat     Lng  Hotel Name
0        2  Almonte      ES     72.00  37.26   -6.52         NaN
1        7  Rikitea      PF     70.34 -23.12 -134.97         NaN
2        8     Shar      KZ     69.44  49.59   81.05         NaN
3        9  Tambura      SS     72.36   5.60   27.47         NaN
4       10     Hilo      US     78.80  19.73 -155.09         NaN

In [6]:
# Using the template to add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Hotel Name</dt>
<dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Hotel Name</dt><dd>{Hotel Name} at {Max Temp}</dd>
"""
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]
locations = vacation_df[["Lat", "Lng"]]

In [7]:
marker_layer = gmaps.marker_layer(locations, info_box_content = hotel_info)
fig = gmaps.figure()
fig.add_layer(marker_layer)

fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
vacation_start = vacation_df.loc[vacation_df["City"] == "Santona"]
vacation_end = vacation_df.loc[vacation_df["City"] == "Almonte"]
vacation_stop1 = vacation_df.loc[vacation_df["City"] == "Lata"]
vacation_stop2 = vacation_df.loc[vacation_df["City"] == "Peniche"]

In [11]:
start = vacation_start["Lat"].values[0], vacation_start["Lng"].values[0]
end = vacation_end["Lat"].values[0], vacation_end["Lng"].values[0]
stop1 = vacation_stop1["Lat"].values[0], vacation_stop1["Lng"].values[0]
stop2 = vacation_stop2["Lat"].values[0], vacation_stop2["Lng"].values[0]
print(start)
print(end)
print(stop1)
print(stop2)

(43.44, -3.46)
(37.26, -6.52)
(40.16, -8.33)
(39.36, -9.38)

In [13]:
fig = gmaps.figure()
vacation_itinerary = gmaps.directions_layer(
    start, end, waypoints=[stop1, stop2],
    travel_mode = "DRIVING"
)
fig.add_layer(vacation_itinerary)
fig

Figure(layout=FigureLayout(height='420px'))

In [14]:
itinerary_df = pd.concat([vacation_start, vacation_end, vacation_stop1, vacation_stop2])
itinerary_df

     City_ID     City Country  Max Temp    Lat   Lng  Hotel Name
181      454  Santona      ES     64.99  43.44 -3.46         NaN
0          2  Almonte      ES     72.00  37.26 -6.52         NaN
15        44     Lata      PT     63.00  40.16 -8.33         NaN
156      406  Peniche      PT     64.00  39.36 -9.38         NaN

In [15]:
itinerary_df.reset_index(drop=True)

   City_ID     City Country  Max Temp    Lat   Lng  Hotel Name
0      454  Santona      ES     64.99  43.44 -3.46         NaN
1        2  Almonte      ES     72.00  37.26 -6.52         NaN
2       44     Lata      PT     63.00  40.16 -8.33         NaN
3      406  Peniche      PT     64.00  39.36 -9.38         NaN

In [16]:
# Using the template to add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Hotel Name</dt>
<dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Hotel Name</dt><dd>{Hotel Name} at {Max Temp}</dd>
"""
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]
locations = itinerary_df[["Lat", "Lng"]]

In [17]:
marker_layer = gmaps.marker_layer(locations, info_box_content = hotel_info)
fig = gmaps.figure()
fig.add_layer(marker_layer)

fig

Figure(layout=FigureLayout(height='420px'))